# .gitignore

# System files
.DS_Store

# Build files
.task
node_modules/
dist/
public_html/
.astro/

# Generated content (created by sync script)
course/swe/book-viewer/src/content/chapters/

# Temporary files
*~
#*
*#
